.linesStatisticsForProvider {
  display: flex;
}

.linesStatisticsForAllProviders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.linesStatisticsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 20px;
}

div.linesStatisticsContainer > div {
  margin: 10px;
  padding: 20px;
}

.heading {
  text-align: center;
  margin: 25px;
}