.pieChartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
}

.pieChartContainer > * {
  width: 100%
}

.showAll {
  color: rgb(17, 105, 167);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.numberOfLines {
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.headerContainer {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  margin: 0;
}